*{
    padding: 0px;
    margin:  0px;
    box-sizing: border-box;
    vertical-align: top;
}

p{
    display: inline;
    background-color: #9f34e9;
    margin: 10px;
}

h1{
    color: #999efa;
}

img{
    height: 100px;
}