<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wall One</title>
    <link rel="stylesheet" href="{{url_for('static',filename='/css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

</head>
<body>
    <div class="wall-container">
    <header>
        <div class="errors" id="messageerror">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class=flashes>
                    {% for category,message in messages %}
                        <li class="{{category}}"><em>{{ message }}</em></li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            </div>
        <h1>Coding Dojo Wall</h1>
        <div class="greeting">
            <p>Welcome,{{this_user.first_name}}!!</p>
            <a href="/logout" class="logout">logout</a>
        </div>
    </header>
    <main>
        <div class="notifications">
            <p class="title">{{messages_sent_to_me | length}} Message(s) for you</p>
            <div class="message">
                <div class="notification">
                    {% for message_to_me in messages_sent_to_me%}
                    <!-- Convert a time delta object into hours -->
                        <p>{{message_to_me.sender}} Said ({{(today_date - message_to_me.created_at).seconds//3600}} hours ago):</p> 
                        <p>"{{message_to_me.content}}"</p>
                        <div class="delete-notification">
                            <form action="/delete_message" method="post">
                                <input type="hidden" name="message_id" value="{{message_to_me.id}}">
                                <button type="submit"> <a href="/deletemessage"><span class="material-symbols-outlined">delete_sweep</span></i></a></button>
                            </form>
                        </div>
                    {%endfor%}
                </div>
            </div>

        </div>
        <div class="send-message">
            <p class="tittle">Send Messages</p>
            <p>You have sent {{number_of_messages_sent}} messages so far</p>
            <div class="message-to-send">
                {%for user in users%}
                <!-- Excluding the name of the user in session -->
                    {%if user.first_name != this_user.first_name%}
                    <form action="/send_message" method="post">
                        <label for="message">{{user.first_name}}</label>
                            <!-- retrieving id of the receiver -->
                        <input type="hidden" name="receiver_id" value="{{user.id}}">
                        <input type="textarea" id="message" name="message">
                        <button type="submit" class="send-message-button">Send</button>
                    </form>
                    {%endif%}
                {%endfor%}
            </div>
        </div>
    </main>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='/js/scripts.js') }}"></script>
</body>
</html>