<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Dealz</title>
    <link rel="stylesheet" href="{{url_for('static',filename='/css/style.css')}}">
</head>
<body>
    <div class="container">
        <div class="heading">
            <h1>Edit {{car_to_display.model}}</h1>
            <div class="heading-link">
                <a href="/dashboard"><button>Dashboard</button></a>
                <a href="/logout"><button>Logout</button></a>
            </div>
        </div>
        <form action="/update" method="POST" class="car-edit-form">
            {% with messages = get_flashed_messages(category_filter=["input-error"]) %}    
                {% if messages %}                            
                    {% for message in messages %}            
                        <p>{{message}}</p> 
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div >
                <label>Price:</label><br>
                <input type="number" min="1" step="any" name="price" placeholder="use format eg.2000.34" value="{{car_to_display.price}}" required/>
            </div>
            <div>
                <label>Model:</label><br>
                <input type="text" name="model" value="{{car_to_display.model}}" required>
            </div>
            <div>
                <label>Make:</label><br>
                <input type="text" name="make" value="{{car_to_display.make}}" required>
            </div>
            <div>
                <label>Year:</label><br>
                <input class="year" type="number" min="1" max="2100" step="1" placeholder="use format eg.2022" name="year" value="{{car_to_display.year}}" required/>
            </div>
            <div>
                <label>Description:</label><br>
                <!-- <input type="text"  name="description" value="{{car_to_display.description}}" class="descr" required/> -->
                <textarea name="description" id="" cols="30" rows="10" value="{{car_to_display.description}}" class="descr" required>{{car_to_display.description}}</textarea>
            </div>
            <input type="hidden" name="car_id" value="{{car_to_display.id}}">
            <button type="submit" class="add-button">Update</button>
        </form>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='/js/scripts.js') }}"></script>
</body>
</html>