<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/style.css')}}">
</head>
<body>
    <div class="container">
        <!-- Heading -->
        <h1>Dojo Survey</h1>
        <!-- form -->
        <form action="/process" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="mb-3">
                <p>Gender:</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" id="gender" value="Female">
                    <label class="form-check-label" for="gender">Female</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" id="gender" value="Male">
                    <label class="form-check-label" for="gender">Male</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" id="gender" value="Care Not To Identify">
                    <label class="form-check-label" for="gender">Care Not To Identify</label>
                </div>
            </div>
            <div class="mb-3">
                <p>Covid Vaccination Status:</p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Vaccinated" id="covidvaccinationstatus" name="covidvaccinationstatus">
                    <label for="covidvaccinationstatus" class="form-label">Vaccinated</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Not Vaccinated" id="covidvaccinationstatus" name="covidvaccinationstatus">
                    <label for="covidvaccinationstatus" class="form-label">Not Vaccinated</label>
                </div>
            </div>
            <div class="mb-3">
                <label for="dojolocation" class="form-label">Dojo Location:</label>
                <select class="form-select" aria-label="Default select example" id="dojolocation" name="dojolocation">
                    <option selected>--Select a Location--</option>
                    <option >Chicago</option>
                    <option >Seattle</option>
                    <option >Arlington</option>
                    <option >Boise</option>
                    <option >Dallas</option>
                    <option >Online</option>
                    <option >San Jose</option>
                    <option >Tulsa</option>
                    <option >Orange County</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="favoritelanguage" class="form-label">Favorite Language:</label>
                <select class="form-select" aria-label="Default select example" name="favoritelanguage" id="favoritelanguage">
                    <option selected>--Select a Language--</option>
                    <option >HTML</option>
                    <option >CSS</option>
                    <option >JS</option>
                    <option >Python</option>
                    <option >C#</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="comments" class="form-label">Comments:</label>
                <textarea class="form-control" id="comments" name="comments" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary mb-3">Submit</button>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='/js/script.js') }}"></script>
</body>
</html>