*{
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    box-sizing: border-box;
}

.container{
    margin-top: 20px;
}

.table-primary tr th{
    background-color:#333333 ;
    color: #ffd966;
}

tbody{
    background-color:#9fc5f8 ;
}

