<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link rel="stylesheet" href="{{url_for('static',filename='/css/style.css')}}">
</head>
<body>
    <div class="container">
        <div class="get-recipe">
            <div class="dashboard-heading">
                <div class="dashboard-heading-links">
                  <a href="/recipes/new">Create</a>
                  <a href="/logout">Logout</a>
                </div>
            </div>
            <h1>{{details.name}}</h1>
            <div class="recipe">
                <p>Created by:      {{details.user.first_name}}</p>
                <p>Description:         {{details.description}}</p>
                <p>Under 30 Minutes:    {{details.under_thirty_minutes}}</p>
                <p>Instructions:        {{details.instructions}}</p>
                <p>Date Made:           {{details.date_made_on.strftime("%B %dth, %Y")}}</p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='/js/scripts.js') }}"></script>
</body>
</html>